{{#extends "base"}}

{{#block "content"}}
<h1>Employees</h1>
<a href="/employees/create" class="btn btn-success mb-3"> Add Employee </a>

<h2>Search</h2>
<form method="GET">
    <div>
        <label>First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{searchParams.first_name}}" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{searchParams.last_name}}" />
    </div>
    <div>
        <label>Department Name</label>
        <select name="department_id" class="form-contol">
            <option value="">Select Department</option>
            {{#each departments}}
            <option value="{{this.department_id}}" {{#if (eq this.department_id
                ../searchParams.department_id)}}selected{{/if}}>{{this.name}}</option>
            {{/each}}


        </select>

    </div>

    <input type="submit" value="Search" class="btn btn-primary btn-sm mt-3 mb-3" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each employees}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.name}}</td>
            <td>
                <a href="/employees/{{this.employee_id}}/delete" class="btn btn-danger btn-sm"> Delete
                </a>
                <a href="/employees/{{this.employee_id}}/edit" class="btn btn-primary btn-sm"> Update
                </a>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>



{{/block}}
{{/extends}}